{% extends 'common/common.html' %}


{% block title %}
<title>Admin Panel-Login Page</title>

{% endblock title %}


{% block body %}
<!-- Login Page -->
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <h2 class="text-center mb-4">Login</h2>
        <form method="POST" >
            {% csrf_token %}
            <!-- Username Field -->
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
            </div>

            <!-- Password Field -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Enter your password">
            </div>

            <!-- Login Button -->
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>

            <!-- Register Prompt -->
            <p class="text-center">Haven't any account? <a href="{% url 'registerPage' %}">Register</a></p>
        </form>
    </div>


</div>
{% endblock body %}